<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KidsBirthdayPlanner</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="icon" href="~/faviicon.icon.png" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body class="neon-bg">

    
    <div class="balloon" style="left:10%; animation-duration:12s;"></div>
    <div class="balloon" style="left:25%; animation-duration:15s;"></div>
    <div class="balloon" style="left:40%; animation-duration:18s;"></div>
    <div class="balloon" style="left:60%; animation-duration:13s;"></div>
    <div class="balloon" style="left:75%; animation-duration:17s;"></div>
    <div class="balloon" style="left:90%; animation-duration:14s;"></div>

    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">

                <a class="navbar-brand"
                   asp-controller="Home"
                   asp-action="Index">
                    KidsBirthdayPlanner
                </a>

                <div class="collapse navbar-collapse">

                    
                    <ul class="navbar-nav me-auto">

                        <li class="nav-item">
                            <a class="nav-link"
                               asp-controller="Home"
                               asp-action="Index">
                                Home
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link"
                               asp-controller="Home"
                               asp-action="Privacy">
                                Privacy
                            </a>
                        </li>

                        @if (User.Identity!.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link"
                                   asp-controller="BirthdayParty"
                                   asp-action="Index">
                                    Birthday Parties
                                </a>
                            </li>
                        }

                    </ul>

                    
                    <ul class="navbar-nav">

                        @if (User.Identity!.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <span class="nav-link text-light">
                                    Hello @User.Identity.Name
                                </span>
                            </li>

                            <li class="nav-item">
                                <form asp-area="Identity"
                                      asp-page="/Account/Logout"
                                      method="post">
                                    <button type="submit"
                                            class="btn btn-link nav-link text-light">
                                        Logout
                                    </button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link"
                                   asp-area="Identity"
                                   asp-page="/Account/Register">
                                    Register
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link"
                                   asp-area="Identity"
                                   asp-page="/Account/Login">
                                    Login
                                </a>
                            </li>
                        }

                    </ul>

                </div>

            </div>
        </nav>
    </header>

    <div class="container">
        <main class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2026 - KidsBirthdayPlanner
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>

