@model ProductViewModel

@{
    ViewData["Title"] = "Product Details";
}

<h2>@ViewData["Title"]</h2>

<p><strong>Id:</strong> @Model.Id</p>
<p><strong>Name:</strong> @Model.Name</p>

<a asp-controller="Product" asp-action="Index">Back to all</a>
