@using KidsBirthdayPlanner.ViewModels
@model BirthdayPartyViewModel

@{
    ViewData["Title"] = "BirthdayParty Details";
}

<h2>@ViewData["Title"]</h2>

<p><strong>Id:</strong> @Model.Id</p>
<<p><strong>Theme:</strong> @Model.ThemeId</p>


<a asp-controller="BirthdayParty" asp-action="Index">Back to all</a>



